@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --cor-1: #ffffff;
    --fonte-texto: "Josefin Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url(/assets/fundo.jpg) no-repeat center center fixed;
    margin: 0 0 100px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.layout {
    padding-top: 5%;
    display: flex;
}

.layout_info {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.foto {
    width: 15%;
}

.text_animation {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text {
    font-family: var(--fonte-texto);
    font-size: 20px;
    font-weight: 400;
    color: var(--cor-1);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}


@media (max-width: 1200px) {

    .foto {
        width: 50%;
    }

    .text_animation-config {
        width: 90%;
    }
    
}